@import "tailwindcss";

body {
    font-family: "Pixelify Sans", "ＭＳ Ｐゴシック", sans-serif;
    cursor: url("/images/cursor-normal.png") 0 0, auto;
}

.pointer {
    cursor: url("/images/cursor-pointer.png") 0 3, pointer;
}

.text-cursor {
    cursor: url("/images/cursor-type.png") 0 0, text;
}

button:hover {
    cursor: url("/images/cursor-pointer.png"), pointer;
}
.text-outline {
    -webkit-text-stroke: 1px rgb(171, 122, 66);
    /* For WebKit browsers */
    text-stroke: 1px rgb(171, 122, 66);
    /* Standard property */
}

.start-btn {
    @apply px-4 py-2 bg-[#f0c76e] text-[#8b5a2b] font-semibold border-2 border-[#8b5a2b] cursor-pointer transition-all duration-100;

    /* Pixel drop shadow */
    box-shadow: 4px 4px 0px 0px #8b5a2b;
}

.start-btn:hover {
    @apply brightness-108;
}

.pixel-art-btn {
    position: relative;
    cursor: pointer;
    border: none;
}

.pixel-art-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: transparent;

    /* PIXEL ROUNDED CORNERS */
    box-shadow:
        /* Sides */
        0 -4px 0 0 rgb(171, 122, 66), 
        0 4px 0 0 rgb(171, 122, 66),
        -4px 0 0 0 rgb(171, 122, 66),
        4px 0 0 0 rgb(171, 122, 66);
}

@keyframes melon-pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    35% {
        transform: scale(0.1);
        opacity: 0.2;
    }

    45% {
        transform: scale(0.2);
        opacity: 0.45;
    }

    50% {
        transform: scale(0.3);
        opacity: 0.5;
    }

    58% {
        transform: scale(0.5);
        opacity: 0.75;
    }

    70% {
        transform: scale(0.75);
        opacity: 1;
    }

    75% {
        transform: scale(0.8);
        opacity: 1;
    }

    85% {
        transform: scale(0.75);
    }

    92% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(0.5);
    }

}

@keyframes sparkle-1-pop {
    0% {
        transform: scale(0.2);
        opacity: 1;
    }

    11% {
        transform: scale(0.5);
    }

    22% {
        transform: scale(0.75);
    }

    33% {
        transform: scale(1);

    }

    44% {
        transform: scale(1);

    }

    45% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}


@keyframes sparkle-2-pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    45% {
        transform: scale(0.9);
        opacity: 1;
    }

    65% {
        transform: scale(1.1);

    }

    66% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sparkle-3-pop {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    66% {
        transform: scale(1.1);
    }

    88% {
        transform: scale(1.2);
        opacity: 0.75;
    }


    100% {
        transform: scale(0);
        opacity: 0;
    }
}


.bonus-display {
    animation-name: fadeOut;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}